@import "tailwindcss";

@theme {
    --color-primary: #E8E8E8;
    --color-secondary: #000;
    --color-text-black: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-primary);
    font-size: 1rem;
    padding: 1.5rem 0.5rem;
    color: var(--color-text-black);
}

button,
a,
select {
    cursor: pointer;
}

.custom-shadow {
    box-shadow: 10px 10px 20px #d4d3d3, -4px -4px 20px #ffffff;
}

.custom-button-shadow {
    box-shadow: inset -5px -5px 14px #a8a8a8, inset 5px 5px 14px #ffffff;
}

.sunken-shadow {
    box-shadow: inset -5px -5px 14px #ffffff, inset 5px 5px 14px #a8a8a8;
}

.spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--color-primary);
    animation: spin 1.2s linear infinite, pulse 1.6s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}